include header.jade
nav.navbar-inverse.navbar-fixed-top
  .navbar-header
    a.navbar-brand("http://tremble-js.github.io/") TrembleJS 
  ul.nav.navbar-nav.navbar-right
    li
      a(href="https://github.com/tremble-js/tremble-js") Fork me on GitHub
        i.fa.fa-code-fork
    li
      a(href="/logout") Sign out
        i.fa.fa-sign-out
.container
  .col-xs-10.wrapper.text-center.col-xs-offset-1
    .row
      h2 Keep all your GitHub repos mirrored safely on BitBucket
    .row
      .col-xs-12.col-md-6
        .panel.panel-default.disabled
          .panel-heading
            h3 Step 1:
          .panel-body
            p Sign in with GitHub
            a
              i.fa.fa-github.fa-4x(title="Sign in with GitHub")
      .col-xs-12.col-md-6
        .panel.panel-default.disabled
          .panel-heading
            h3 Step 2:
          .panel-body
            p Sign in with Dropbox 
            a
              i.fa.fa-dropbox.fa-4x(title="Sign in with Dropbox")
     .row
        .col.col-xs-12
          .panel.panel-primary
            .panel-heading
              h3 Step 3:
            .panel-body
              p Add the webhook to your GitHub repos:
              pre https://localhost:8181/
              p.bg-warning
                small
                  i IMPORTANT:
                  br
                  i If your repo is part of a GitHub organization you will have to first create a BitBucket team with a matching name.
    .row
      .col-xs-12
        .panel.panel-default
          .panel-heading
              h3 Results:
              h4.results.results__left= results[0].cLeftCommit
              h4.results.results__right= results[0].cRightCommit
          .panel-body
              each res in results
                .row
                  if results[0].status == true
                    .col-xs-offset-2.col-xs-8.match__pass.bg-success
                      h5= res.cLeft 
                      h5 Match!
                  else
                    .col-xs-offset-2.col-xs-8.match__pass.bg-danger
                      h5= res.cLeft
                      h5 Something is different here... 
                .row
                  .col-xs-6.thumb--wrapper
                    p= res.leftData.filename
                    img.thumb(src='data:image/png;base64,' + res.leftData.data)
                  .col-xs-6.thumb--wrapper
                    p= res.rightData.filename
                    img.thumb(src='data:image/png;base64,' + res.rightData.data)
    .row
      .col-xs-12
        .panel.panel-default
          .panel-heading
            h3 Past Comparisons:
          .panel-body.logs
            table.table-center.table.table-hover.table-bordered
              thead
                tr.row
                  td.col-xs-2
                    h4 date
                  td.col-xs-2
                    h4 current
                  td.col-xs-2
                    h4 original
                  td.col-xs-4
                    h4 results
              tbody
                each val in logs
                  if val.status == "success"
                    tr.success.row
                      td.col-xs-3
                        span.log-time= val.time
                      td.col-xs-1
                        span.log-status= val.status
                      td.col-xs-2
                        span.log-repo= val.repo
                      td.col-xs-4
                        span.log-repo= val.message
                  else if val.status == "error"
                    tr.danger.row
                      td.col-xs-3
                        span.log-time= val.time
                      td.col-xs-1
                        span.log-status= val.status
                      td.col-xs-2
                        span.log-repo= val.repo
                      td.col-xs-4
                        span.log-repo= val.message
                  else
                    tr.warning.row
                      td.col-xs-2
                        span.log-time= val.time
                      td.col-xs-1
                        span.log-commit= val.cCommit
                      td.col-xs-2
                        span.log-commit= val.results[0].cLeftCommit
                      td.col-xs-4
                        table.table-center.table.table-hover.table-bordered
                          thead
                            tr.row
                              td.col-xs-4
                                h5 file
                              td.col-xs-2
                                h5 status
                          tbody
                            each res in val.results
                              if res.status == true
                                tr.row.success
                                  td.col-xs-8
                                    span.log-left= res.cLeft
                                  td.col-xs-2
                                    span.log-left pass
                              else if res.status
                                tr.row.danger
                                  td.col-xs-8
                                    span.log-left= res.cLeft
                                  td.col-xs-2
                                    span.log-left fail
                        //-span.log-repo= val.results
include footer.jade
include footer.jade
